html {
	font-family: "Source Code Pro", monospace;
}

body {
	margin: 0;
	background-color: rgba(221, 225, 233, 0.836);
}

/* HEADER */

header {
	background-color: #364552;
	color: white;
	padding: 1rem 0.5rem;
}

h1 {
	font-size: 2rem;
}

header h1,
header h3 {
	font-size: 2rem;
	text-align: center;
}

/* MENU */

#menu a {
	cursor: pointer;
	color: white;
	border: 1px solid black;
	border-radius: 0.3rem;
	background-color: black;
	text-decoration: none;
}

#menu a:hover {
	transition: color 0.3s ease;
	color: cornflowerblue;
}

/* CONTENT start*/

#content {
	width: 0 auto;
	margin: 0 auto;
}

/* #content {
	border: 1px solid black;
	padding: auto;
} */

#content section {
	transition: box-shadow 0.3s ease;
	background-color: white;
	margin: 1rem 0;
	border-radius: 0.5rem;
	padding: 0.25rem 0;
}

.hero img {
	height: 200px;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 0.5rem;
}

#content article h2,
#content article p {
	margin: 1rem;
}

.hero {
	display: inline-block;
	/* height: ; */
	/* float: left; */
}

/* portfolio table only  */

#tablePortfolio table {
	margin: 10px;
	/* width: auto; */
	/* border-collapse: collapse; */
}

#tablePortfolio th,
#tablePortfolio td {
	border-radius: 5px;
	border: solid 1px rgb(43, 137, 226);
	padding: 5px;
}

#tablePortfolio th {
	background-color: rgba(110, 102, 101, 0.986);
	color: white;
	text-align: left;
}

#tablePortfolio tr:nth-child(even) {
	background-color: #eee;
}

#tablePortfolio tr:hover {
	/* background-color: #aaa; */
	/* cursor: pointer; */
}

/* Table in about me page  */

#tableAboutMe table {
	margin: 10px;
	/* width: auto; */
	/* border-collapse: collapse; */
}

#tableAboutMe th,
#tableAboutMe td {
	border-radius: 5px;
	border: solid 1px rgb(43, 137, 226);
	padding: 5px;
}

/* table for skills only  */

#tableSkills table {
	margin: 10px;
	/* width: auto; */
	/* border-collapse: collapse; */
}

#tableSkills th,
#tableSkills td {
	border-radius: 5px;
	border: solid 1px rgb(43, 137, 226);
	padding: 5px;
}

#tableSkills th {
	background-color: rgba(110, 102, 101, 0.986);
	color: white;
	text-align: left;
}

#tableSkills tr:nth-child(even) {
	background-color: #eee;
}

.postContainer {
	width: 400px;
	margin: 0 auto;
}

#blog article {
	transition: box-shadow 0.3s ease;
	background-color: white;
	margin: 1rem 0;
	border-radius: 0.5rem;
	padding: 0.25rem 0;
	cursor: pointer;
}

#blog img {
	width: 10rem;
	position: relative;
}

#blog article:hover {
	box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

#blog article h2,
#blog article p {
	margin: 1rem;
}

/* CONTENT end*/

/* footer section  */
footer {
	background-color: black;
	padding: 30px;
	color: #fff;
	/* float: left; */
}

footer section {
	float: left;
}

footer a {
	transition: color 0.3s ease;
	color: white;
	text-decoration: none;
	border: 1px solid white;
	border-radius: 0.3rem;
}

footer a:hover {
	color: cornflowerblue;
}
